<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>422387438549-1cp7loub6p5sgdo9k3mac4l2i2h3rs35.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.422387438549-1cp7loub6p5sgdo9k3mac4l2i2h3rs35</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>422387438549-j597gfn3q1m6k6ni0ljs1p30bqf1od2p.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBAb2MRJTbsODJqRsuJ3KIxq_CYdybNZcc</string>
	<key>GCM_SENDER_ID</key>
	<string>422387438549</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nprep.nprepapp</string>
	<key>PROJECT_ID</key>
	<string>nprep-f64b1</string>
	<key>STORAGE_BUCKET</key>
	<string>nprep-f64b1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:422387438549:ios:8335070609b5b66d35a35c</string>
</dict>
</plist>